#textdomain wesnoth-wc

[textdomain]
    name="wesnoth-wc"
[/textdomain]

#ifdef EDITOR
#ifndef LOAD_WC2
#define LOAD_WC2
#enddef
#endif
#endif

#ifdef MULTIPLAYER
#ifndef LOAD_WC2
#define LOAD_WC2
#enddef
#endif
#endif

#ifdef LOAD_WC2

[binary_path]
    path=data/add-ons/wc2-extras
[/binary_path]

{./era/factions}
{./era/campaign}
{./resources/data}
{./resources/strings}
{./scenarios}

#define WC_II_PAIR UNIT1 UNIT2
    [pair]
        types = {UNIT1} + "," + {UNIT2}
    [/pair]
#enddef

#define WC3_ERA_FACTIONS
    [multiplayer_side]
        id=Random
        #textdomain wesnoth-multiplayer
        name= _ "Random"
        #textdomain wesnoth-wc
        image= units/random-dice.png
        random_faction=yes
    [/multiplayer_side]
    {MULTIPLAYER_SIDE_THE_TRUST}
    {MULTIPLAYER_SIDE_THE_GUILD}
    {MULTIPLAYER_SIDE_THE_HAND}
    {MULTIPLAYER_SIDE_THE_MILITIA}
    {MULTIPLAYER_SIDE_THE_MARAUDERS}
    {MULTIPLAYER_SIDE_THE_HORDE}
    {MULTIPLAYER_SIDE_THE_CULT}
    {MULTIPLAYER_SIDE_THE_GANG}
    {MULTIPLAYER_SIDE_THE_SCOURGE}
    {MULTIPLAYER_SIDE_THE_ALLIANCE}
    {MULTIPLAYER_SIDE_THE_DEFIANCE}
    {MULTIPLAYER_SIDE_THE_ARTISANS}
    {MULTIPLAYER_SIDE_THE_EMPIRE}
    {MULTIPLAYER_SIDE_THE_MENAGERIE}
#enddef

[era]
    id= "wc2x_conquest_era"
    name= _"World Conquest III"
    description= _"World Conquest II reimagined: income-based enemy economy, points of interest, between-map shop, and permanent upgrades. Units are defined as pairs in recruit list. (v0.2.0)"

    hide_help=yes
    require_era=no

    {WC3_ERA_FACTIONS}
    [load_resource]
        id = "wc2x_era_res"
    [/load_resource]
[/era]

#ifhave ~add-ons/Legend_of_the_Invincibles/_main.cfg
{~add-ons/Legend_of_the_Invincibles/extra_advancements.cfg}
[era]
    id= "wc2x_conquest_era_loti"
    name= _"World Conquest III + LotI"
    description= _"World Conquest III with Legend of the Invincibles advancement chains. ~259 additional unit types up to L50. Requires LotI add-on."

    hide_help=yes
    require_era=no

    {WC3_ERA_FACTIONS}
    [load_resource]
        id = "wc2x_era_res"
    [/load_resource]
    [load_resource]
        id = "wc2x_loti_advancements"
    [/load_resource]
[/era]

[resource]
    id = "wc2x_loti_advancements"
    {LOTI_EXTRA_ADVANCEMENT_LINES}
[/resource]
#endif

[resource]
    id = "wc2x_era_res"
    [lua]
        code = " wesnoth.dofile('~add-ons/wc2-extras/lua/era_main.lua') "
    [/lua]
    [load_resource]
        id = "wc2x_mainline_heroes"
    [/load_resource]
[/resource]

[resource]
    id = "wc2x_mainline_heroes"
    [world_conquest_data]
        [hero_types]
            {WORLD_CONQUEST_II_ERA_HEROES_TYPES}
        [/hero_types]
        {WORLD_CONQUEST_II_ERA_HEROES_TRAITS}
    [/world_conquest_data]
[/resource]

[resource]
    id = "wc2x_scenario_res"
    [lua]
        code = " wesnoth.dofile('~add-ons/wc2-extras/lua/campaign_main.lua') "
    [/lua]
    [load_resource]
        id = "wc2x_trainer_data"
    [/load_resource]
    [load_resource]
        id = "wc2x_artifact_data"
    [/load_resource]
    [load_resource]
        id = "wc2x_trait_data"
    [/load_resource]
[/resource]

[resource]
    id = "wc2x_trait_data"
    [world_conquest_data]
        [trait_heroic]
            {WORLD_CONQUEST_II_TRAIT_HEROIC}
        [/trait_heroic]
        [trait_expert]
            {WORLD_CONQUEST_II_TRAIT_EXPERT}
        [/trait_expert]
    [/world_conquest_data]
[/resource]

[resource]
    id = "wc2x_trainer_data"
    [world_conquest_data]
        {WORLD_CONQUEST_TEK_TRAINER_DEFINITIONS}
    [/world_conquest_data]
[/resource]

[resource]
    id = "wc2x_artifact_data"
    [world_conquest_data]
        {WORLD_CONQUEST_TEK_ARTIFACT_DEFINITIONS}
    [/world_conquest_data]
[/resource]

[resource]
    id = "wc2x_scenario_res_extra"
    [lua]
        code = " wesnoth.dofile('~add-ons/wc2-extras/lua/optional_mechanics/destruction.lua') "
    [/lua]
    [lua]
        code = " wesnoth.dofile('~add-ons/wc2-extras/lua/optional_mechanics/unitmarker.lua') "
    [/lua]
[/resource]
#endif
