#textdomain wesnoth-wc2-extras

[textdomain]
    name="wesnoth-wc2-extras"
[/textdomain]

#ifdef LOAD_WC2

[binary_path]
    path=data/add-ons/wc2-extras
[/binary_path]

[resource]
    id=wc2_extras_resource_main

    [world_conquest_data]
    [/world_conquest_data]
[/resource]

[era]
    id=wc2_extras_era
    name= _ "WC2 Extras"
    require_era=yes
    description= _ "Custom artifacts, trainers and tweaks for World Conquest II"

    [load_resource]
        id=wc2_extras_resource_main
    [/load_resource]
[/era]

#endif
