#textdomain wesnoth-wc

#define MULTIPLAYER_SIDE_MAGNOSHUTADT
    [multiplayer_side]
        id=Magnoshutadt
        name=_"Magnoshutadt"
        recruit=Mage,Dark Adept,Fencer,Mermaid Initiate,Footpad,Thief,Spearman,Bowman,Heavy Infantryman,Heavy Infantryman,Jinn,Jinn,Silver Mage
        image="misc/blank-hex.png~BLIT(units/human-magi/silver-mage.png~RC(magenta>purple)~CROP(0,0,60,72),12,0)~BLIT(units/human-magi/mage.png~RC(magenta>blue)~CROP(8,0,58,72),0,0)"
        type=random
        leader=Silver Mage,Arch Mage,White Mage
        random_leader=Silver Mage,Arch Mage,White Mage
        [world_conquest_data]
            commanders=Loyalists,Undead
            heroes=Rebels_All,Knalgans_All
            deserters=Drakes,Northerners,Young Ogre
            deserters_names=_ "Young Ogre, Drakes and Northerners"
            {WC_II_PAIR "Mage" "Dark Adept"}
            {WC_II_PAIR "Fencer" "Mermaid Initiate"}
            {WC_II_PAIR "Footpad" "Thief"}
            {WC_II_PAIR "Spearman" "Bowman"}
            {WC_II_PAIR "Heavy Infantryman" "Heavy Infantryman"}
            {WC_II_PAIR "Jinn" "Jinn"}
            {WC_II_PAIR "Silver Mage" "Silver Mage"}
        [/world_conquest_data]
    [/multiplayer_side]
#enddef
