#textdomain wesnoth-wc

#define MULTIPLAYER_SIDE_MONSTERS
    [multiplayer_side]
        id=Monsters
        name=_"Monsters"
        recruit=Giant Rat,Mudcrawler,Frost Stoat,Frost Stoat,Raven,Falcon,Wolf,Woodland Boar,Rock Scorpion,Fire Guardian,Cave Bear,Cave Bear,Giant Spider,Roc
        image="misc/blank-hex.png~BLIT(units/monsters/bear/bear.png~RC(magenta>brown)~CROP(0,0,60,72),12,0)~BLIT(units/monsters/spider.png~RC(magenta>red)~CROP(8,0,58,72),0,0)"
        type=random
        leader=Cave Bear,Giant Spider
        random_leader=Cave Bear,Giant Spider
        [world_conquest_data]
            commanders=Rebels,Northerners
            heroes=Drakes,Knalgans_All
            deserters=Loyalists,Undead,Young Ogre
            deserters_names=_ "Young Ogre, Loyalists and Undead"
            {WC_II_PAIR "Giant Rat" "Mudcrawler"}
            {WC_II_PAIR "Frost Stoat" "Frost Stoat"}
            {WC_II_PAIR "Raven" "Falcon"}
            {WC_II_PAIR "Wolf" "Woodland Boar"}
            {WC_II_PAIR "Rock Scorpion" "Fire Guardian"}
            {WC_II_PAIR "Cave Bear" "Cave Bear"}
            {WC_II_PAIR "Giant Spider" "Roc"}
        [/world_conquest_data]
    [/multiplayer_side]
#enddef
