#textdomain wesnoth-wc

#define MULTIPLAYER_SIDE_THE_COIL
    [multiplayer_side]
        id=The Coil
        name=_"The Coil"
        recruit=Naga Fighter,Saurian Skirmisher,Naga Dirkfang,Naga Guard,Saurian Augur,Merman Hunter,Saurian Ambusher,Saurian Spearthrower,Merman Fighter,Merman Brawler,Naga Myrmidon,Mermaid Priestess
        image="misc/blank-hex.png~BLIT(units/nagas/fighter/fighter.png~RC(magenta>teal)~CROP(0,0,60,72),12,0)~BLIT(units/saurians/skirmisher/skirmisher.png~RC(magenta>green)~CROP(8,0,58,72),0,0)"
        type=random
        leader=Naga Warrior,Mermaid Priestess,Saurian Oracle
        random_leader=Naga Warrior,Mermaid Priestess,Saurian Oracle
        [world_conquest_data]
            commanders=Rebels,Northerners
            heroes=Drakes,Undead_All
            deserters=Loyalists,Knalgans,Dune Rider
            deserters_names=_ "Dune Rider, Loyalists and Knalgan Alliance"
            {WC_II_PAIR "Naga Fighter" "Saurian Skirmisher"}
            {WC_II_PAIR "Naga Dirkfang" "Naga Guard"}
            {WC_II_PAIR "Saurian Augur" "Merman Hunter"}
            {WC_II_PAIR "Saurian Ambusher" "Saurian Spearthrower"}
            {WC_II_PAIR "Merman Fighter" "Merman Brawler"}
            {WC_II_PAIR "Naga Myrmidon" "Mermaid Priestess"}
        [/world_conquest_data]
    [/multiplayer_side]
#enddef
