#textdomain wesnoth-wc

#define MULTIPLAYER_SIDE_THE_SWARM
    [multiplayer_side]
        id=The Swarm
        name=_"The Swarm"
        recruit=Giant Ant,Giant Ant,Dragonfly Naiad,Dragonfly Naiad,Soldier Ant,Fire Ant,Dragonfly,Giant Scorpion,Horned Scarab,Horned Scarab,Firebomb Ant,Firebomb Ant,Giant Ant Queen,Fire Ant Queen
        image="misc/blank-hex.png~BLIT(units/monsters/ant/queen.png~RC(magenta>red)~CROP(0,0,60,72),12,0)~BLIT(units/monsters/scorpion/scorpion.png~RC(magenta>brown)~CROP(8,0,58,72),0,0)"
        type=random
        leader=Giant Ant Queen,Fire Ant Queen
        random_leader=Giant Ant Queen,Fire Ant Queen
        [world_conquest_data]
            commanders=Northerners,Rebels
            heroes=Undead_All,Drakes
            deserters=Loyalists,Knalgans,Dune Rider
            deserters_names=_ "Dune Rider, Loyalists and Knalgan Alliance"
            {WC_II_PAIR "Giant Ant" "Giant Ant"}
            {WC_II_PAIR "Dragonfly Naiad" "Dragonfly Naiad"}
            {WC_II_PAIR "Soldier Ant" "Fire Ant"}
            {WC_II_PAIR "Dragonfly" "Giant Scorpion"}
            {WC_II_PAIR "Horned Scarab" "Horned Scarab"}
            {WC_II_PAIR "Firebomb Ant" "Firebomb Ant"}
            {WC_II_PAIR "Giant Ant Queen" "Fire Ant Queen"}
        [/world_conquest_data]
    [/multiplayer_side]
#enddef
