#textdomain wesnoth-wc

#define MULTIPLAYER_SIDE_THE_MENAGERIE
    [multiplayer_side]
        id=The Menagerie
        name=_"The Menagerie"
        recruit=Goblin Spearman,Frost Stoat,Troll Whelp,Wolf Rider,Merman Citizen,Wose Sapling,Dragonfly,Giant Scorpling,Raven,Raven,Walking Corpse,Woodland Boar,Fire Guardian,Horned Scarab
        image="misc/blank-hex.png~BLIT(units/undead/zombie.png~RC(magenta>green)~CROP(10,0,55,65),17,0)~BLIT(units/orcs/warrior.png~RC(magenta>brown)~CROP(17,0,55,65),0,7)"
        type=random
        leader=Elder Wose,Goblin Knight,Troll,Troll Hero,Naga Warrior,Naga Shield Guard,Naga Ophidian,Naga Ringcaster,Merman Warrior,Mermaid Priestess
        random_leader=Elder Wose,Goblin Knight,Troll,Troll Hero,Naga Warrior,Naga Shield Guard,Merman Warrior,Mermaid Priestess
        [world_conquest_data]
            commanders=Northerners,Rebels
            heroes=Undead_All,Knalgans_All
            deserters=Loyalists,Drakes,Dune Rider
            deserters_names=_ "Dune Rider, Loyalists and Drakes"
            {WC_II_PAIR "Goblin Spearman" "Frost Stoat"}
            {WC_II_PAIR "Troll Whelp" "Wolf Rider"}
            {WC_II_PAIR "Merman Citizen" "Wose Sapling"}
            {WC_II_PAIR "Dragonfly" "Giant Scorpling"}
            {WC_II_PAIR "Raven" "Raven"}
            {WC_II_PAIR "Walking Corpse" "Woodland Boar"}
            {WC_II_PAIR "Fire Guardian" "Horned Scarab"}
        [/world_conquest_data]
    [/multiplayer_side]
#enddef
