#textdomain wesnoth-wc

#define MULTIPLAYER_SIDE_THE_MENAGERIE
    [multiplayer_side]
        id=The Menagerie
        name=_"The Menagerie"
        recruit=Goblin Spearman,Ruffian,Peasant,Woodsman,Merman Citizen,Wose Sapling,Giant Ant,Giant Scorpling,Raven,Raven,Walking Corpse,Walking Corpse,Mudcrawler,Nibbler
        image="misc/blank-hex.png~BLIT(units/monsters/giant-scorpion.png~RC(magenta>brown)~CROP(0,10,64,62),5,0)~BLIT(units/undead/zombie.png~RC(magenta>green)~CROP(10,0,55,65),0,7)"
        type=random
        leader=Ogre,Troll,Great Wolf,Elder Wose,Cave Bear,Goblin Knight,Goblin Pillager,Gryphon,Water Serpent,Troll Shaman
        random_leader=Ogre,Troll,Great Wolf,Elder Wose,Cave Bear,Goblin Knight,Goblin Pillager,Gryphon
        [world_conquest_data]
            commanders=Northerners,Rebels
            heroes=Undead_All,Knalgans_All
            deserters=Loyalists,Drakes,Dune Rider
            deserters_names=_ "Dune Rider, Loyalists and Drakes"
            {WC_II_PAIR "Goblin Spearman" "Ruffian"}
            {WC_II_PAIR "Peasant" "Woodsman"}
            {WC_II_PAIR "Merman Citizen" "Wose Sapling"}
            {WC_II_PAIR "Giant Ant" "Giant Scorpling"}
            {WC_II_PAIR "Raven" "Raven"}
            {WC_II_PAIR "Walking Corpse" "Walking Corpse"}
            {WC_II_PAIR "Mudcrawler" "Nibbler"}
        [/world_conquest_data]
    [/multiplayer_side]
#enddef
